<h1>アイデア <%= link_to '(登録)', new_idea_path, class: '#' %></h1>

<div class="#">
  <h2>アイデア一覧</h2>  
   <% @idea.each do |idea| %> 
     <li class="item-text">
        <%= idea.body %>
     </li>
   <% end %>
</div>